@font-face {
  font-family: "Star Jedi";
  src: url("./fonts/Starjedi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*{
  padding: 0;
  margin: 0;
  font-family: "Star Jedi", sans-serif;
  color: #fff;
}

body {
  height: 100vh;
  background-image: url('../images/swb.jpg');
}

h1{
  font-size: 8em;
}

span{
  font-size: 2em;
}

.navbar-dark .navbar-brand{
  color: rgb(255, 215, 73);
}

#app{
  margin-top: 40px
}
