<form>
  <h1 class="text-center">Contacto</h1>
  <div class="row">
    <div class="col-md-6">
      <input id="name" class="form-control" type="text" name="name" placeholder="nombre completo">
    </div>
    <div class="col-md-6">
      <input id="email" class="form-control" type="email" name="email" placeholder="email">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12">
      <textarea id="comments" placeholder="comentarios" name="comments" class="form-control" rows="8" cols="80"></textarea>
    </div>
  </div>
</form>
